Django>=3.0.8,<3.1.0

djangorestframework>=3.11.0,<3.12.0
psycopg2>=2.8.5,<2.9.0 #Use to communicate between Django and Postgre https://pypi.org/project/psycopg2/
Pillow>=7.1.0,<7.2.0

flake8>=3.8.3,< 3.9.0